$backGroundMain: #ffffff;
$danger: #ff0000;
$blue: rgba(94, 58, 238, 1);
$blueTwo: hsla(263, 93%, 56%, 1);
$purple: rgba(197, 107, 240, 1);
$blackOne: hsla(240, 15%, 9%, 1);
$pinkOne: hsla(284, 100%, 84%, 1);
$pinkTwo: hsla(306, 100%, 57%, 1);
